---
title: Summary Statistics 
toc: true
---


In data science, we often want to compute summary statistics. `pandas` provides a number of built-in methods for this purpose.

<center><img src="https://pandas.pydata.org/docs/_images/06_aggregate.svg" width="80%" style="filter:invert(1)" /></center>

For example, we can use the `.mean()`, `.median()` and `.std()` methods to compute the mean, median, and standard deviation of a column, respectively.

In [ ]:
elections['%'].mean(), elections['%'].median(), elections['%'].std()

(27.470350372043967, 37.67789306, 22.96803399144419)

Similarly, we can use the `.max()` and `.min()` methods to compute the maximum and minimum values of a `Series` or `DataFrame`.

In [ ]:
elections['%'].max(), elections['%'].min()

(61.34470329, 0.098088334)

The `.sum()` method computes the sum of all the values in a `Series` or `DataFrame`.

<center><img src="https://pandas.pydata.org/docs/_images/06_reduction.svg" width="80%" style="filter:invert(1)" /></center>

The `.describe()` method computes summary statistics for a `Series` or `DataFrame`. It computes the mean, standard deviation, minimum, maximum, and the quantiles of the data.

In [ ]:
elections['%'].describe()

count    182.000000
mean      27.470350
std       22.968034
min        0.098088
25%        1.219996
50%       37.677893
75%       48.354977
max       61.344703
Name: %, dtype: float64

In [ ]:
elections.describe()

              Year  Popular vote           %
count   182.000000  1.820000e+02  182.000000
mean   1934.087912  1.235364e+07   27.470350
std      57.048908  1.907715e+07   22.968034
min    1824.000000  1.007150e+05    0.098088
25%    1889.000000  3.876395e+05    1.219996
50%    1936.000000  1.709375e+06   37.677893
75%    1988.000000  1.897775e+07   48.354977
max    2020.000000  8.126892e+07   61.344703

### `.describe()`

If many statistics are required from a `DataFrame` (minimum value, maximum value, mean value, etc.), then [`.describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) can be used to compute all of them at once.

In [ ]:
elections.describe()

              Year  Popular vote           %
count   182.000000  1.820000e+02  182.000000
mean   1934.087912  1.235364e+07   27.470350
std      57.048908  1.907715e+07   22.968034
min    1824.000000  1.007150e+05    0.098088
25%    1889.000000  3.876395e+05    1.219996
50%    1936.000000  1.709375e+06   37.677893
75%    1988.000000  1.897775e+07   48.354977
max    2020.000000  8.126892e+07   61.344703

A different set of statistics will be reported if `.describe()` is called on a Series.

In [ ]:
elections["Party"].describe()

count            182
unique            36
top       Democratic
freq              47
Name: Party, dtype: object

In [ ]:
elections["Popular vote"].describe().astype(int)

count         182
mean     12353635
std      19077149
min        100715
25%        387639
50%       1709375
75%      18977751
max      81268924
Name: Popular vote, dtype: int64